#nav ul li {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#nav ul .logo li {
	float: left;
}

#nav .menu {
	max-width: 83.3%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
}